{% extends "column_1.html" %}

{% load i18n %}

{% block page_title %}
	{{ block.super }} | {% trans "Contact" %}
{% endblock %}

{% block content %}

    {% for info in contacts %}
	<table class="table_0">
	    <thead>
            <tr>
                <td colspan="3">{% trans "Contact Details" %}</td>
            </tr>
        </thead>
		<tbody>
			<tr>
                <td class="label">{% trans "Contact Name" %}:</td>
				<td class="item">{{ info.name }}</td>
			</tr>
			<tr>
				<td class="label">{% trans "E-mail" %}:</td>
				<td class="item">{{ info.email }}</td>
			</tr>
			<tr>
                <td class="label">{% trans "Applications" %}: </td>
                <td class="item">
                    <ul class="square">
                        {% for name in info.duties %}
                            <li>{% trans name %}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
		</tbody>
	</table>
	<div class="spacer_10"></div>
    {% endfor %}
 
{% endblock %}
