{% extends "column_1.html" %}
{% load i18n syjon lock %}

{% block content %}
    <ul class="infolist">
        <li>Od dnia 01.10.2015 system syjon zostanie zastąpiony przez system USOS.</li>
        <li>System syjon, w dalszym ciągu, będzie udostępniał, do odczytu, zgromadzone w nim dane.</li>
        <li>Sylabusy, efekty kształcenia i wyniki ankiet, dostępne w systemie syjon, zostaną zapisane w wersji elektronicznej i zdeponowane w Biurze ds. Analiz Jakości Kształcenia.</li>
    </ul>

	<div id="apps_list">
	    <table class="table_0">
	        <tbody>
	            <tr class="meroving">
					<td class="label"><div></div></td>
					<td class="item">

                            {% if request.user.is_authenticated %}
                                {% if request.user.get_profile.merovingianadmin or request.user.is_superuser %}
                                <a class="link_0" href="{% url apps.merovingian.views.management %}">{% trans "Teaching Offer Management" %}</a> |
                                {% endif %}
                            {% endif %}

							<a class="link_0" href="{% url apps.merovingian.views.index %}">{% trans "Courses" %}</a>
						</td>
					</tr>


                {% if request.user.is_authenticated %}
                    {% if request.user.get_profile.merovingianadmin or request.user.is_superuser %}
                    <tr class="niobe">
                        <td class="label"><div></div></td>
                        <td class="item"><a class="link_0" href="{% url apps.niobe.views.index %}">{% trans "Teachers Workload Management" %}</a></td>
                    </tr>
                    {% endif %}
                {% endif %}


                {% if request.user.get_profile.teacher %}
                    <tr class="pythia">
                        <td class="label"><div></div></td>
                        <td class="item">
                            {% if perms.pythia.change_courseproperties or request.user.is_superuser %}
                                {% comment %}
                                <a class="link_0" href="{% url apps.pythia.views.index %}">{% trans "Course Evaluation Survey Management Panel" %}</a> |
                                <a class="link_0" href="{% url apps.pythia.views.stats %}">{% trans "Statistics" %}</a> |
                                {% endcomment %}
                            {% endif %}
                            {% if not request|is_read_only %}
                                <a class="link_0" href="{% url apps.pythia.views.login %}">{% trans "Take part in Course Evaluation Survey" %}</a> |
                            {% endif %}

                            {% if request.user.get_profile.teacher or request.user.is_superuser %}
                                <a class="link_0" href="{% url apps.pythia.views.result_polls %}">{% trans "Results" %} ankiety oceny zajęć</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}

	            <tr class="metacortex">
	                <td class="label"><div></div></td>
	                <td class="item">
	                    {% if request.user.is_authenticated %}
	                        {% if request.user.get_profile.teacher or request.user.is_superuser %}
	                           <a class="link_0" href="{% url apps.metacortex.views.syllabus_my.show %}">{% trans "Syllabus Management Panel" %}</a> |
	                        {% endif %}
	                    {% endif %}
	                    <a class="link_0" href="{% url apps.metacortex.views.search_engine.syllabus_search_classic %}">{% trans "Syllabus Search Engine" %}</a>
	                </td>
	            </tr>

                {% if 'link' in installed_apps %}
                    <tr class="link">
                        <td class="label"><div></div></td>
                        <td class="item"><a class="link_0" href="{% url apps.link.views.index %}">{% trans "Classes Timetable" %}</a></td>
                    </tr>
                {% endif %}

                {% if 'lock' in installed_apps %}
                    {% if request.user.get_profile and request|show_lock_app %}
                        <tr class="lock">
                            <td class="label"><div></div></td>
                            <td class="item"><a class="link_0" href="{% url apps.lock.views.index %}">{% trans "Inventory Management Panel" %}</a></td>
                        </tr>
                    {% endif %}
				{% endif %}
                
                {% if 'morpheus' in installed_apps %}
                    <tr class="morpheus">
                        <td class="label"><div></div></td>
                        <td class="item">
                            <a class="link_0" href="{% url apps.morpheus.views.show_declaration %}">{% trans "Graduate declaration" %}</a>
                            {% if request.user.is_superuser or request.user.get_profile.morpheusprofile %}
                                | <a class="link_0" href="{% url apps.morpheus.views.statistics_course_list %}">{% trans "Statystyki" %}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}

				{% if not request|is_read_only %}
                    {% if 'orb' in installed_apps %}
                        <tr class="orb">
                            <td class="label"><div></div></td>
                            <td class="item"><a class="link_0" href="{% url apps.orb.views.index %}">{% trans "Graduate Poll" %}</a></td>
                        </tr>
                    {% endif %}
                {% endif %}

                {% if 'johnson' in installed_apps %}
                    {% if request.user.is_superuser or request.user.is_staff and request.user.id == 491 %}
                        <tr class="johnson">
                            <td class="label"><div></div></td>
                            <td class="item"><a class="link_0" href="{% url apps.johnson.views.index %}">{% trans "Badania statutowe" %}</a></td>
                        </tr>
                    {% endif %}
				{% endif %}
	        </tbody>
	    </table>
	</div>
{% endblock %}
