html {margin: 0; padding: 0;}
body {font-family: Tahoma, Arial, Helvetica, sans-serif; margin: 0; padding: 0;}

h2 {margin-top: 0;}

table {border-collapse: collapse; font-size: 12px; width: 100%;}
td {padding: 7px; border: 1px solid #666666;}
.label {text-align: right; width: 160px}

.table_s {border: 0px;}
.table_s tbody td {border: 0; padding: 0px 2px;}
.table_s td.right {text-align: right;}

p {min-height: 1px; margin-bottom: 12px;}

ul {margin: 3px 0 3px 15px; padding: 0; list-style-position: outside;}
ul ul {margin-left: 10px;}
ol {margin: 3px 0 3px 20px; padding: 0; list-style-position: outside;}
ol ol {margin-left: 10px;}
ol ul {margin-left: 10px;}
ul ol {margin-left: 10px;}

.header {background-color: #dedede}
.odd {background-color: #f5f5f5}
.even {background-color: #ffffff}

.center {text-align: center;}
.top {vertical-align: top!important;}

/* ------------------------------------------------------ */
/* --- MODULE DETAILS */
/* ------------------------------------------------------ */

.module_details {font-size: 11px;}
.module_details td {}
.module_details thead td {text-align: center;}
.module_details thead tr.properties td {min-width: 15px}

.module_details thead td, .module_details tbody td {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 0;
    border-bottom: 0;
    text-align: center;
    padding: 2px 4px;
    vertical-align: top;
}

.module_details thead td {border-bottom: 1px solid #ccc;}
.module_details tbody td.g {text-align: right;}
.module_details tbody td.e {text-align: right;}