<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block page_title %}Syjon{% endblock %}</title>

        {% block base_css %}
            <link rel="stylesheet" href="{{ STATIC_URL }}syjon/css/reset.css" type="text/css" />
            <link rel="stylesheet" href="{{ STATIC_URL }}syjon/css/base.css" type="text/css" />
            <link rel="stylesheet" href="{{ STATIC_URL }}syjon/css/style.css" type="text/css" />
        {% endblock %}

        {% block css %}
        {% endblock %}
    </head>
    
    <body> 
        {% block body %} {% endblock %}
        
        {% block js %}
        {% endblock %}
        
        {% if not debug %}
	        <script type="text/javascript">
	
			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-36423499-1']);
			  _gaq.push(['_trackPageview']);
			
			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();
			
			</script>
		{% endif %}
    </body>
</html>
