<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block page_title %}Syjon{% endblock %}</title>

    <style type="text/css">

    </style>
  </head>
  
  <body> 
    {% block body %} {% endblock %}
  </body>
</html>
