{% extends "base_1.html" %}

{% block content_container %}
	
	<div id="column_1_2">
		{% block sidebar_left%} {% endblock %}
	</div>
	
	<div id="column_2_2">
		{% block content %} {% endblock %}
	</div>
	
	<div class="clear"></div>
	
{% endblock %}